<footer class="footer">
    <div class="footer-col-wrapper">
      <div class="footer-col">
        <p class="feed-subscribe">
          <a href="{{ 'atom.xml' | relative_url }}">
            <svg xmlns="http://www.w3.org/2000/svg" class="svg-icon icon-orange">
                <use href="{{ '/assets/images/icons/rss.svg' | relative_url }}"></use>
            </svg><span>Subscribe</span>
          </a>
        </p>
      {%- if site.author %}
        <div class="contact-list">
          {% if site.author.name -%}
            <div class="p-name">{{ site.author.name | escape }}</div>
          {% endif -%}
          {% if site.author.email -%}
            <div><a class="u-email" href="mailto:{{ site.author.contact.email }}">{{ site.author.contact.email }}</a></div>
          {%- endif %}
        </div>
      {%- endif %}
      </div>
      <div class="footer-col">
        <p>{{ site.description | escape }}</p>
      </div>
    </div>

    <div class="social-links">
      {%- include social.html -%}
    </div>
</footer>
