/* Navigation */
.navigation {
    float: right;
    background-color: $nav-color;
}

.nav-list-item a {
    color: #ffffff;
    text-decoration: none;
}

.sub-nav-list-item {
    padding-left: 20%;
}
