// Variables

// Typography

// Colors
$icon-orange: #f66a0a;
$icon-gray: #828282;
$nav-color: #6a9fb5;

// Breakpoints
$small: 600px !default;
$medium: 768px !default;
$medium-wide: 900px !default;
$large: 1024px !default;
$x-large: 1280px !default;
$max-width: $x-large !default;


// Other
