/* Import css */
@import "syntax-highlighting.css";
@import "print.css" print;

/* Global Variables and Changes */
html { 
    box-sizing: border-box;
    line-height: 1.15;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

:root {
    -moz-tab-size: 4;
    tab-size: 4;
    /* Global Variables */
    --icon-orange: #f66a0a;
    --icon-grey: #828282;
    --nav-color: #6a9fb5;
}

/* CSS Grid Setup and Layout */

/* Lets name the areas */
header { grid-area: header; }
nav { grid-area: nav; }
.social-media-list{ grid-area: followme; }
main { grid-area: main; }
footer { grid-area: footer; }

/* Body will be our container */
/* Mobile First layout */
body {
    min-height: 100vh;
    display: grid;
    grid-gap: 0;
    grid: 'header'
          'nav'
          'followme'
          'main'
          'footer';
    margin: 0;
}

header, nav {
    padding-left: 8px;
    padding-top: 8px;
    padding-bottom: 8px;
}

main, aside, footer {
    margin-left: 8px;
}
aside {
    margin-top: 8px;
}

/*@media (min-width: 40em) { */
/* 800px */
@media (min-width: 50em) {
  body {
    grid-gap: 1em 0;
    grid: 'header nav' auto
          'followme main' 1fr
          'followme footer' auto
        / 12em 1fr;
  }

  main, aside, footer {
      margin: 0;
  }

}

main {
    display: block; 
}

a {
    background-color: transparent;
}

img {
    border-style: none;
    width: 100%;
    height: auto;
}

[hidden] {
    display: none;
}

/* Header and Navigation */ 
.site-header, .navigation {
    background-color: var(--nav-color);
}

.nav-list-item a {
    color: #ffffff;
    text-decoration: none;
}

.sub-nav-list-item {
    padding-left: 1em;
}

/* SVG Related */
.icon-orange {
  color: var(--icon-orange);
}

.icon-grey {
  color: var(--icon-grey);
}

.svg-icon {
  box-sizing: initial;
  width: 1.5rem;
  height: 1.5rem;
  display: inline-block;
  fill: currentColor;
  padding: 5px 3px 2px 5px;
  vertical-align: middle;
}

.social-media-list a {
  text-decoration: none;
}

footer .social-media-list div {
    display: inline;
}

/* Responsive Video Resize */

.embed-container {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
        max-width: 100%;
}

.embed-container iframe, .embed-container object, .embed-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
