/* TODO: THIS IS BROKEN WITH THE CURENT SITE. NEEDS UPDATE ASAP */
/* Seems to be mostly broken with firefox */
[hidden] {
  display: none;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
  min-height: auto !important;
  font-size: 16px;
}

body {
  width: 100%;
  margin: 0 auto;
  background: #fff !important;
  color: #000 !important;
  font-size: 1rem;
  line-height: 1.5;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #000;
  line-height: 1.2;
  margin-bottom: 0.75rem;
  margin-top: 0;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

a, a:visited {
  color: #000;
  text-decoration: underline;
  word-wrap: break-word;
}

table {
  border-collapse: collapse;
}

thead {
  display: table-header-group;
}

table,
th,
td {
  border-bottom: 1px solid #000;
}

td,
th {
  padding: 8px 16px;
}

img {
  border: 0;
  display: block;
  max-width: 100% !important;
  vertical-align: middle;
}

hr {
  border: 0;
  border-bottom: 2px solid #bbb;
  height: 0;
  margin: 2.25rem 0;
  padding: 0;
}

dt {
  font-weight: bold;
}

dd {
  margin: 0;
  margin-bottom: 0.75rem;
}

abbr[title],
acronym[title] {
  border: 0;
  text-decoration: none;
}

table,
blockquote,
pre,
code,
figure,
li,
hr,
ul,
ol,
a,
tr {
  break-inside: avoid;
}

h2,
h3,
h4,
p,
a {
  orphans: 3;
  widows: 3;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  break-after: avoid;
  break-inside: avoid;
}

h1 + p,
h2 + p,
h3 + p {
  break-before: avoid;
}

img {
  break-after: auto;
  break-before: auto;
  break-inside: avoid;
}

pre {
  white-space: pre-wrap !important;
  word-wrap: break-word;
}

a[href^='http://']:after,
a[href^='https://']:after,
a[href^='ftp://']:after {
  content: " (" attr(href) ")";
  font-size: 80%;
}

abbr[title]:after,
acronym[title]:after {
  content: " (" attr(title) ")";
}

main {
  max-width: 100%;
}

.no-print {
    display: none;
}

a.no-reformat:after {
    content: '';
}

abbr[title].no-reformat:after,
acronym[title].no-reformat:after {
    content: '';
}

a {
    color: #000 !important;
}

/* Hide the following elements on print  */
.related_posts,
.pagination,
.social-media-list,
footer,
nav {
    display: none !important;
    height: 1px !important;
}

