---
# Only the main Sass file needs front matter (the dashes are enough)
---
// Imports
@import "bootstrap-site";

// Lets import and make use of github pages default theme, primer
// @import "{{ site.theme }}";


// Variables
$nav-main-color: #6a9fb5;
$nav-active-color: #79a9bd;

.active {
    background-color: $nav-active-color;
}

.navigation {
    float: right;
    background-color: $nav-main-color;
}

.nav-list-item a {
    color: #ffffff;
    text-decoration: none;
}

.sub-nav-list-item {
    padding-left: 20%;
}


/* Responsive Video Resize

/* responsive videos */
.embed-container {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
        max-width: 100%;
}

.embed-container iframe, .embed-container object, .embed-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
